/* src/components/CrearAreaAcademica.css */

.crear-seccion-container {
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .crear-seccion-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3f51b5;
    text-align: center;
  }
  
  .crear-seccion-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .crear-seccion-container label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #666;
  }

  .crear-seccion-container button.submitButton {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #3f51b5;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
  }

  .crear-seccion-container button.horarioButton{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #3f51b5;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    border-color: #3f51b5;
    margin-top: 8px;
    margin-bottom: 15px;
  }
  
  .crear-seccion-container button.submitButton:hover {
    background-color: #283593;
  }

  .crear-seccion-container button.horarioButton:hover {
    background-color: #283593;
    color: #ffffff;
  }

.crear-seccion-container select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.crear-seccion-container select:focus {
  outline: none;
  border-color: #3f51b5;
}

.dtpInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 8px;
}
  
  @media screen and (max-width: 600px) {
    .crear-area-container {
      padding: 10px;
    }
  }
  